<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <h1>{{title}}</h1> -->
<div class="card">

    <div class="card-header" style="text-align:center">  
        <b>WELCOME TO TASK CURD OPERATION</b>  
    </div>  

<!-- create and edit data form -->
<div class="card-body">
  <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit(taskForm)">
    <div class="row">
        <div class="form-group col-sm-2">
            <label for="task"> Quote Type</label>
            <input type="text" class="form-control" formControlName="Quote_Type" id="QuoteType" placeholder="Enter Quote Type">
          </div>
          
          <div class="form-group col-sm-2">
            <label for="task"> Quote Number</label>
            <input type="text" class="form-control" formControlName="Quote_" id="QuoteID" placeholder="Enter Quote Number">
          </div>
          
          <div class="form-group col-sm-2">
              <label for="task"> Contact</label>
              <input type="text" class="form-control" formControlName="Contact" id="Contact" placeholder="Enter Contact Name">
          </div>
          
          <div class="form-group col-sm-2">
              <label for="task"> Task Content</label>
              <input type="text" class="form-control" formControlName="Task_Content" id="TaskContent" placeholder="Enter Task Content">
          </div>
         
          
          <div class="form-group col-sm-2">
              <label for="task"> Due Date</label>
              <input type="text" class="form-control" formControlName="Due_Date" id="DueDate" placeholder="Enter Due Date">
          </div>
            
          
          <div class="form-group col-sm-2">
              <label for="task"> Task Type</label>
              <input type="text" class="form-control" formControlName="Task_Type" id="TaskType" placeholder="Enter Task Type">
          </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3">  
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary" (click)="resetForm()">Reset</button>  
        </div> 

        <div class="form-inline col-sm-3">
            <input class="form-control form-control-sm mr-3 w-75" type="text" autocomplete="off" placeholder="Search"
               [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
            <i class="fa fa-search"></i>
        </div>
       
    </div>
  
  </form>
</div>


<!-- display data -->
<div class="card-footer">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th (click)="sort('Quote_Type')">Quote Type</th>
            <th (click)="sort('Quote_')">Quote#</th>
            <th (click)="sort('Quote_Type')">Contact</th>
            <th (click)="sort('Contact')">Task Content</th>
            <th (click)="sort('Task_Content')">Due Date</th>
            <th (click)="sort('Due_Date')">Task Type</th>    
            <th (click)="sort('Task_Type')">Option</th>  
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of allTasks | async | filter:searchText | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p } ">
        <td>{{task.Quote_Type}}</td>
        <td>{{task.Quote_}}</td>
        <td>{{task.Contact}}</td>
        <td>{{task.Task_Content}}</td>
        <td>{{task.Due_Date}}</td>
        <td>{{task.Task_Type}}</td>
        <td><button type="button" class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>  
          <button type="button" class="btn btn-default btn-sm" (click)="loadTaskToEdit(task.Quote_)"><i class="fa fa-edit"></i></button> 
          <button type="button" class="btn btn-default btn-sm" (click)="deleteTask(task.Quote_)"><i class="fa fa-trash"></i></button> 
        </td>
      </tr>
    </tbody>
    
  </table>
  <pagination-controls style="width: 350px; float: right;" (pageChange)="p = $event"></pagination-controls>
</div>

</div>

